.sideBar {
    position: fixed;
    width: 15%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #5E5E5E;
}
.commercialBar {
    width: 15%;
    height: 2000px;
    float: right;
    background-color: #091B2E;
    color: #01DDD1;
}
.rankList {
    width: 90%;
    text-align: center;
    align-self: center;
    background-color: #091B2E;
    border: 2px solid #01DDD1;
    margin-top: 20%;
}
.rankListItem {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #01DDD1;
    color: black;
    margin: 10px auto;
}
table {
    width: 100%;
}
table, tr, td {
    border: 20px solid #091B2E;
}