.lineDivide {
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #707070;
    width: 90%;
}
.pagePartyMain {
    margin-top: 5%;
    color: #01DDD1;
}
.pagePartyDetail {
    margin-top: 40px;
    color: #01DDD1;
}
.searchFilterModule {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: left;
}
.detailOverall {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-content: left;
}
.searchResultModule {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}
.searchModule {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 300px;
}
.filterName {
    width: 40%;
    height: 33%;
    float: left;
}
.filterTier {
    width: 60%;
    height: 33%;
    float: right;
}
.filterSex {
    width: 40%;
    height: 33%;
    float: left;
}
.filterAge {
    width: 60%;
    height: 33%;
    float: right;
}
.filterPosition {
    width: 40%;
    height: 33%;
    float: left;
}
.filterSearch {
    width: 60%;
    height: 33%;
    float: right;
}
.tokenLong {
    position: relative;
    float: left;
    width: 80%;
    height: 30px;
    border-radius: 30px;
    background-color: white;
}
.token {
    position: relative;
    float: left;
    width: 120px;
    height: 30px;
    border-radius: 30px;
    background-color: white;
}
.tokenImg {
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
}
.tokenArrow {
    width: 18px;
    height: 15px;
    line-height: 28px;
    vertical-align: middle;
}
.tokenText {
    position: relative;
    width: 90px;
    height: 30px;
    color: black;
    float: left;
    margin: 0;
    text-align: center;
    line-height: 28px;
}
seekbarTier {
    position: relative;
    width: 30%;
    margin: 0 auto;
}
.buttonPosition {
    position: relative;
    width: 15%;
    margin: 0 auto;
}
.itemParty {
    display: inline-block;
    margin: 2%;
    width: 480px;
    height: 200px;
    background-color: #5E5E5E;
}
.itemPartyTitle {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
}
.itemPartyTime {
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    padding-bottom: 20px;
    text-align: right;
}
.itemPartyUser {
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
.itemPartyUserDetail {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 40px;
    margin-top: 15px;
}
.itemPartyPosition {
    position: relative;
    width: 60px;
    height: 30px;
    float: left;
    margin: 0;
    text-align: center;
    line-height: 28px;

}
.itemPartyNick {
    float: right;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-right: 5px;
    width: 50%;
    height: 30px;
    background-color: #3D4141;
    border-radius: 5px;
}
.itemPartyAdd {
    float: right;
    line-height: 28px;
    text-align: center;
    margin: 0;
    margin-right: 5px;
    width: 20%;
    height: 30px;
    background-color: #3D4141;
    border-radius: 5px;
}
.logChat {
    background-color: #3D4141;
    margin-left: 15%;   
    width: 70%;
    height: 500px;
}
.itemLogChat {
    margin-left: 5%;   
    width: 70%;
    height: 120px;
}
.itemLogTyping {
    margin-left: 5%;
}
.itemLogChatNick {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    background-color: #2e3131;
    border-radius: 5px;
}
.itemLogChatTime {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    margin-left: 640px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
.itemLogChatText {
    position: absolute;
    margin-top: 50px;
    width: 800px;
    height: 70px;
    background-color: #2e3131;
    border-radius: 5px;
}
.itemLogChatAlert {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    margin-left: 720px;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}